// inspired by https://github.com/devinhunt/typebase.css

*
	box-sizing border-box
	margin 0
	padding 0

html
	font-family $serif
	font-size ($base-font-size / 16 * 70%)
	-webkit-font-smoothing antialiased
	text-size-adjust auto

	+medium()
		font-size ($base-font-size / 16 * 95%)

	// +large()
	// 	font-size ($base-font-size / 16 * 100%)

	+xlarge()
		font-size ($base-font-size / 16 * 100%)

// headings

h1,
h2,
h3,
h4,
h5,
h6
	margin-top $leading
	margin-bottom 0
	line-height $leading

h1
	font-size $h1-size-mobile
	line-height $h1-line-height-mobile
	margin-top (1 * $leading)
	margin-bottom (0.5 * $leading)
	+large()
		font-size $h1-size
		line-height $h1-line-height

h2
	font-size $h2-size
	line-height $h2-line-height
	margin-top (2 * $leading)

h3
	font-size $h3-size

h4
	font-size $h4-size

/* Copy & Lists */
p
	line-height $leading
	margin-top $leading
	margin-bottom 0

h1 + p,
h2 + p,
h3 + p
	margin-top 0.75 * $leading

@supports (hyphens:auto)
	p
		hyphens auto
		text-align justify

ul,
ol
	margin-top $leading
	margin-bottom $leading

li
	line-height $leading

ul,
ol
	margin-top 0
	margin-bottom 0


blockquote
	line-height $leading
	margin-top $leading
	margin-bottom $leading

hr
	border-top $separator
	margin $spacing 0

/* Tables */

table
	margin-top $leading
	border-spacing  0px
	border-collapse collapse

td,
th
	padding 0
	line-height $base-line-height * $base-font-size - 0px

/* Code blocks */

code
	vertical-align bottom

/* Leading paragraph text */

.lead
	font-size $scale * 1rem

/* Hug the block above you */

.hug
	margin-top 0

a:link,
a:visited
	color: inherit

a:link
	text-decoration: underline
	text-decoration-skip: ink
	color: inherit
	transition: all 0.15s $quad-easing

a:hover
	color: $site-color

::selection
	background: $selection



