.header
	max-width $header
	margin-left auto
	margin-right auto
	padding $spacing*2 $spacing*0.25

.main
	max-width $main
	margin-left auto
	margin-right auto
	padding $spacing $spacing*0.5
	overflow-wrap break-word
  word-wrap break-word

.footer
	overflow hidden