.citation code
	background-color $gray-light
	display block
	line-height 1.5
	padding $spacing*0.15 $spacing*0.25
	border-radius $radius
	font-size 0.75rem
	margin-top $spacing*0.5


.reference,
.colophon
	margin-top $spacing

.reference p,
.colophon p
	margin-top $spacing*0.15
	font-size 0.8rem
	color $gray

	span
		font-weight bold
